.thumbnail {
    max-width: 100px;
    height: auto;
    cursor: pointer;
}
.example-image {
    max-width: 200px;
    height: auto;
    cursor: pointer;
}
#imageContainer {
    text-align: center;
}
#selectedImage {
    max-width: 100%;
    height: auto;
    margin: 20px;
}